.allMid{
  display:block;
  align-items: center;
  text-align: center;
}
.modal {
    display: none;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-content {
    margin: 50px auto;
    border: 1px solid #999;
    width: 80%;
  }
  h2,
  p {
    margin: 0 0 20px;
    font-weight: 400;
    color: rgb(22, 13, 144);
  }
  span {
    color: #666;
    display: block;
    padding: 0 0 5px;
  }
  form {
    padding: 10px;
    margin: 5px;
    box-shadow: 0 2px 5px #f5f5f5;
    background: rgb(204 254 210);
  }
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #1c87c9;
    outline: none;
  }
  .contact-form button {
    /* width: 100%; */
    text-align: center;
    padding: 10px;
    border: none;
    background: #ea371f;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
  button:hover {
    background: #2371a0;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  button.button {
    background: rgb(16 148 6);
    margin: 2%;
    border-top: none;
    outline: none;
    border-right: none;
    border-left: none;
    border-bottom: #02274a 1px solid;
    padding: 5%;
    font-size: 20px;
    cursor: pointer;
    /* float: right; */
  }

  button.button:hover {
    border-bottom: #a99567 1px solid;
    color: #a99567;
  }

  .code{
    float: right;
    background-color: yellow;
    padding: 1%;
    color: black;
    font-size: 12px;
  }
  .modal2 {
    background-color: rgb(240, 244, 244);
    /* height: 400px; */
}
.mImg2{
  
}

.mImg {
    /* height: 100px; */
    width: 100%;
    max-width: 400px;
    /* margin-top: 15px; */
    align-items: center;
    position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

.mText {
    /* background: yellow; */
    font-size: 30px;
    color: rgb(113, 2, 87);
    text-align: center;
    /* margin-top: 550px; */
}

.logo {
    height: 150px;
    width: 250px;
    margin-left: 30%;
}
.mName{
    color: rgb(191 14 47);

    margin-top: 15%;
    text-align: center;
    font-size: 44px;
    font-weight: bold;
}
.gText{
    /* height: 40px; */
    font-size: 40px;
    color: rgb(218 8 74);
    text-align: center;
}
.card2{
align-items: center;
}
.p_des{
  text-align: center;
}
.rowb{
  margin-bottom: -20px;
}
.diwali{
max-width: 90%;
  /* height: 400px; */
  /* float: right; */
  margin-bottom: -40px;
  margin-left: 100px;
}
.top30{
  margin-bottom: -30px;
}
.yb{
  background-color: yellow;
  padding: 5px;
}
@media(max-width: 991.98px) {
  .mName{
    color: rgb(191 14 47);

    margin-top: 65%;}
    .mImg {
      top: 35%;
    }
    .diwali{
     margin-left: 0px;
    }
}
