.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    align-items: center;
    text-align: center;
    font-family: arial;
    margin-bottom: 2% ;
  }
  .pImg {
    margin: 1%;
    max-width: 250px;
    height: 300px;
}
  .price {
    color: rgb(9, 8, 8);
    font-size: 25px;
    padding-bottom: 5px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    /* background-color: #000; */
    text-align: center;
    cursor: pointer;
    /* width: 100%; */
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  .piImg{
    height: 350px;
    width: 350px;
    border: 0.5px solid black;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .piImg img{
    height: 300px;
    max-width: 80%;
  }
  .right_btn{
    /* float: right; */
    /* margin-top: -50px; */
    margin-left: 550px;
  }
  @media(max-width: 991.98px) {
    .right_btn{
      /* float: right; */
      /* margin-top: -50px; */
      margin-left: 0px;
    }
  }